<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="courses" id="courses">
			<module name="Dentsu_Trainerb"/>
		</route>
		<route id="customer" frontName="customer">
			<module name="Dentsu_Trainerb"/>
		</route>
         <route frontName="studymaterials" id="studymaterials">
            <module name="Dentsu_Trainerb"/>
         </route>
	</router>
</config>